*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 150px),1fr) 50px;
}

header{
    height: 100px;
    
}

header ul li {
    display: inline-block;
    margin: 0 30px;
    line-height: 100px;
    font-size: 36px ;
    font-weight: bold;
}

header ul li a{
    text-decoration: none;
}